/* Use the 'Oswald' font family at 14px throughout the body of the document. */
body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Bungee Inline', cursive;
    font-weight: lighter;
    font-size: 46px;
}

nav {
    font-family: sans-serif; 
    font-size: 10px;
}

#main {
    width: 900px; 
    margin: 10px auto;
}

#menu {
    columns: 420px 2; 
    column-gap: 60px;
}

section {
    margin-bottom: 20px; 
    padding: 10px;
}

#starters {
    border: 2px solid black;
}

#desserts {
    border: 2px solid black;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
}

dt {
    display: inline;
    font-weight: bold;
    font-size: 16px;
}

dd {
    display: inline; margin: 0;
}

dd::after {
    content: " ";
    display: block; 
    clear: both; 
    margin-bottom: 15px;
}

.price {
    float: right; 
    padding: 0 0 35px 20px;
}

address {
    text-align: right;
}
